{
  "parser": "babel-eslint",
  "extends": [
    "airbnb",
    "prettier",
    "prettier/react"
  ],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "ecmaFeatures": {
      "impliedStrict": true
    }
  },
  "env": {
    "node": true,
    "browser": true,
    "es6": true,
    "jest": true
  },
  "rules": {
    "import/no-cycle": 0,
    "no-underscore-dangle": "off",
    "react/destructuring-assignment": 0,
    "react/jsx-filename-extension": 0
  },
  "globals": {
    "document": true,
    "foo": true,
    "window": true
  }
}
