{
  "parser": "babel-eslint",
  "extends": "react-app",
  "plugins": ["prettier"],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "ecmaFeatures": {
      "impliedStrict": true
    }
  },
  "env": {
    "node": true,
    "browser": true,
    "es6": true,
    "jest": true
  },
  "rules": {
    "prettier/prettier": "error"
  },
  "globals": {
    "document": true,
    "foo": true,
    "window": true
  }
}
