language: node_js
node_js:
  - 'stable'
dist: trusty
sudo: false

branches:
  only:
    - master

cache:
  yarn: true
  directories:
    - node_modules

before_install:
  # Download latest yarn since travis defaults to v1.3.2
  - curl -o- -L https://yarnpkg.com/install.sh | bash
  - export PATH="$HOME/.yarn/bin:$PATH"

install:
  - npm install -g yarn
  - yarn

script:
  - rm -rf docs
  - yarn run build
  - mv build docs

deploy:
  provider: pages
  skip_cleanup: true
  github_token: $github_token
  local_dir: docs
  on:
    branch: master
